/*Размеры с макета */
* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 15px;
    color: #474243;
}

header {
    width: 100%;
    height: 328px;
    background-color: #474243;
}

footer {
    width: 100%;
    height: 400px;
    background-color: #474243;
}

main {
    max-width: 976px;
    margin-left: auto;
    margin-right: auto;
}

main .col {
    padding: 0;
}

.left-col {
    max-width: 267px;
}

.profile-menu {
    height: 880px;
    background-color: #474243;
}

.application-form {
    background-color: #f7f5f1;
    padding-top: 50px;
    padding-bottom: 40px;
}
.application-form .form-content {
    max-width: 552px;
    padding: 0;
}

/*Размеры текста*/
main h1 {
    font-size: 43px;
}

.form-group > label {
    margin-bottom: 4px;
    font-size: 13px;
}

.application-form h5 {
    font-size: 22px;
    margin: 0;
}

.application-form p {
    margin-top: 8px;
    margin-bottom: 39px;
}


/*Форма*/
.application-form .form-group {
    margin-bottom: 20px;
}

.application-form .form-control {
    border-radius: 3px;
    border: none;
}

#application_text{
    height: 116px;
    padding: 10px;
    margin-bottom: 40px;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1);
    resize: none;
}

.photo-gallery {
    margin: 20px 0 18px 0;
}

.add-photo-button {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 2px dashed #e5e5e5;
    background: #ffffff url('../img/add.svg')  no-repeat 50% 50%;
}

.photo-requirements {
    font-size: 11px;
    margin: 0 0 0 3em;
}

.form-submit {
    width: 277px;
    height: 40px;
    margin-top: 40px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #757a3b;
    background-color: #939c3e;
    color: white;
}

.form-submit:focus {
    outline: none;
}

/*Селекты*/

/*последние два селектора для того, чтобы перебить стили плагинов*/
.form-group button, .form-group button:hover,
.form-group button:active, .form-group button:focus,
.form-group button:focus:focus-within,  .form-group button:active:focus {
    background-color: #ffffff !important;
    font-size: 15px;
    color: inherit !important;
    text-align: left;
    border: 1px #f7f5f1;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1) !important;
    outline-color: transparent !important;
}

.application-form .filter-option-inner-inner {
    text-overflow: ellipsis;
}
.active-select-button {
    box-shadow: none;
    border-radius: 3px 3px 0 0;
}

.dropdown-toggle::after {
    position: absolute;
    top: 50%;
    right: 8px;
}

.active-select-button.dropdown-toggle::after {
    transform: rotate(180deg);
}

.application-form .dropdown-menu {
    width: 100%;
    max-height: 239px;
    margin: 0;
    padding: 0 0 1px 0;
    font-size: 15px;
    font-family: inherit !important;
    color: inherit !important;
    border-radius: 0 0 3px 3px;
    border: 1px #f7f5f1;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}


.application-form .dropdown-item {
    border-bottom: 1px solid #f4f4f4;
    padding: 10px;
}


.application-form .selected {
    background-color: transparent;
    color: inherit;
}

.application-form .dropdown-menu .dropdown-item:hover,
.application-form .dropdown-menu .dropdown-item:active {
    color: #f26a36;
    background-color: transparent;
    outline: none;
}

/*Мультиселект*/
.application-form .show-tick .check-mark {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 20px;
}

/*Галочка*/
.application-form .show-tick .check-mark::after{
    position: absolute;
    display: inline-block;
    top: 6px;
    left: 3px;
    width: 0.3em;
    height: 0.6em;
    border-width: 0 2px 2px 0;
    border-radius: 1px;
    transform: rotate(45deg) translateY(0.5rem);
    color: #f26a36;
}


.application-form .show-tick .dropdown-menu .text {
    white-space: normal;
}

/*Квадрат для галочки*/
.application-form .show-tick .dropdown-menu .text::before {
    content: '\00A0';
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    margin-right: 7px;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border-radius: 2px;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.04);
    border: solid 1px #e5e5e5;
}

/*Скроллы*/
.application-form .dropdown-menu .inner::-webkit-scrollbar,
#application_text::-webkit-scrollbar {
    width: 17px;
}
#application_text::-webkit-scrollbar-track {
    padding: 2px;
}
.application-form .dropdown-menu .inner::-webkit-scrollbar-thumb,
#application_text::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 5px solid white;
    background-color: rgba(0, 0, 0, 0.48);
}

/*Специальные цвета текста*/
.light-text {
    color: #999999;
}

.warning-text {
    color: #f26a36;
}




