/*Размеры с макета */
* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 15px;
    color: #474243;
}

header {
    width: 100%;
    height: 328px;
    background-color: #474243;
}

footer {
    width: 100%;
    height: 400px;
    background-color: #474243;
}

main {
    max-width: 976px;
    margin-left: auto;
    margin-right: auto;
}

main .col {
    padding: 0;
}

.left-col {
    max-width: 267px;
}

.profile-menu {
    height: 880px;
    background-color: #474243;
}

.application-form {
    background-color: #f7f5f1;
    padding-top: 50px;
    padding-bottom: 40px;
}
.application-form .form-content {
    max-width: 552px;
    padding: 0;
}

/*Размеры текста*/
main h1 {
    font-size: 43px;
}

.application-form label {
    margin-bottom: 4px;
    font-size: 13px;
}

.application-form h5 {
    font-size: 22px;
    margin: 0;
}

.application-form p {
    margin-top: 8px;
    margin-bottom: 39px;
}

.application-form ul {
    font-size: 11px;
}

.application-form select {
    height: 39px;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

/*Форма*/

.application-form .form-group {
    margin-bottom: 20px;
}

.application-form .form-control {
    border-radius: 3px;
    border: none;
}

#application-text{
    height: 116px;
    padding: 0;
    margin-bottom: 40px;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1);
    resize: none;
}


.form-submit {
    width: 277px;
    height: 40px;
    margin-top: 40px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #757a3b;
    background-color: #939c3e;
    color: white;
}

/*Специальные цвета текста*/
.light-text {
    color: #999999;
}

.warning-text {
    color: #f26a36;
}




